global
  log 127.0.0.1   local1
  maxconn 4096

defaults
  mode http
  maxconn 2048
  timeout connect 5s
  timeout client 5s
  timeout server 5s

frontend fx-rabbitmq-mgmt
 bind *:15671 ssl crt /usr/local/etc/haproxy/fxcloud.pem
 redirect scheme https if !{ ssl_fc }
 mode http
 default_backend fx-rabbitmq-mgmt

backend fx-rabbitmq-mgmt
  redirect scheme https if !{ ssl_fc }
  server fx-rabbitmq fx-rabbitmq:15672  check inter 5s rise 2 fall 3
